.hero {
  height: 100vh;
  background: url("../assets/images/hero/hero.jpg") center center/cover no-repeat;
  position: relative;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-content {
  color: white;
  max-width: 700px;
}

.hero-subtitle {
  color: var(--gold);
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero-text {
  color: #ddd;
  margin-bottom: 35px;
  font-size: 1.1rem;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn-gold,
.btn-outline {
  padding: 14px 30px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 500;
}

.btn-gold {
  background: var(--gold);
  color: black;
}

.btn-gold:hover {
  background: white;
}

.btn-outline {
  border: 1px solid var(--gold);
  color: var(--gold);
}

.btn-outline:hover {
  background: var(--gold);
  color: black;
}

.featured-gallery {
  padding: 100px 0;
}

.section-subtitle {
  color: var(--gold);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 10px;
}

.featured-gallery h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.8rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.gallery-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.gallery-card img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.gallery-card:hover img {
  transform: scale(1.08);
}

.gallery-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-overlay h3 {
  color: white;
  font-size: 2rem;
}

.story-card{
    position:relative;
    display:block;
    overflow:hidden;
    border-radius:18px;
    height:520px;
    text-decoration:none;
}

.story-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.7s;
}

.story-card:hover img{
    transform:scale(1.08);
}

.story-overlay{

    position:absolute;
    inset:0;

    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    padding:35px;

    background:linear-gradient(
        transparent,
        rgba(0,0,0,.92)
    );

}

.story-overlay span{

    color:#d4af37;
    font-size:13px;
    letter-spacing:2px;
    text-transform:uppercase;

}

.story-overlay h3{

    color:white;
    font-size:30px;
    margin:15px 0;

}

.story-overlay p{

    color:#ddd;

}

.story-overlay button{

    width:170px;
    margin-top:20px;

    border:none;

    padding:12px;

    background:#d4af37;

    cursor:pointer;

    font-weight:600;

}