*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
    background:rgba(255,255,255,.95);
    backdrop-filter:blur(12px);
    box-shadow:0 4px 20px rgba(0,0,0,.08);
}

.navbar-container{
    width:92%;
    margin:auto;
    height:85px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo a{
    text-decoration:none;
}

.logo h2{
    font-size:34px;
    letter-spacing:4px;
    color:#111;
}

.logo span{
    font-size:12px;
    color:#9a7b4f;
    letter-spacing:3px;
}

.nav-menu{
    display:flex;
    align-items:center;
    gap:35px;
}

.nav-menu a{
    text-decoration:none;
    color:#222;
    font-size:15px;
    text-transform:uppercase;
    letter-spacing:2px;
    transition:.3s;
}

.nav-menu a:hover{
    color:#b68b47;
}

.book-btn{
    padding:12px 28px;
    border:1px solid #b68b47;
    border-radius:40px;
    color:#b68b47!important;
}

.book-btn:hover{
    background:#b68b47;
    color:white!important;
}