:root {

    /* Colors */

    --primary: #0B0B0B;

    --secondary: #1A1A1A;

    --gold: #C8A96A;

    --white: #FFFFFF;

    --gray: #9E9E9E;

    --light-gray: #E5E5E5;

    /* Fonts */

    --heading-font: "Cormorant Garamond", serif;

    --body-font: "Poppins", sans-serif;

    /* Transition */

    --transition: all 0.4s ease;

    /* Max Width */

    --container: 1320px;
}